* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

main {
    background-color: #083b4c;
}

main h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    padding: 2rem;
}

div.container {
    width: 900px;
    margin: 0 auto;
    font-size: 1rem;
}

div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-FizzBuzz {
    background-color: #f0466f;
}

.row-Fizz {
    background-color: #0cd6a1;
}

.row-Buzz {
    background-color: #ffd166;
}

.row-number {
    background-color: #1389b2;
}